@model NewsBlogApp.Models.NewsModel
@{
    ViewBag.Title = "Новостная лента";
}

<h2>Новостная лента</h2>

@foreach (var news in NewsBlogApp.Controllers.AdminController.newsList)
{
    <div class="news-block">
        <div class="news-article">
            <h1>@news.Article</h1>
            <img src="~/Resources/NewsCovers/@(news.Id).png?@(new Random().Next())" />
        </div>
        <p class="multiline-content">@news.Content</p>
        <footer>
            <hr />
            <p>Автор: @news.Author</p>
            <p>Дата публикации: @news.DateOfPublication</p>
        </footer>
        @Html.ActionLink("Редактировать", "EditNews", new { id = news.Id }, new { @class = "c-button" })
        @Html.ActionLink("Удалить", "DeleteNews", new { id = news.Id }, new { style = "color: red" })
    </div>
}